.main {
  width: 100%;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1199px) {
  .main {
    padding-inline: 6rem;
  }
}

@media (max-width: 992px) {
  .main {
    padding-inline: 4rem;
  }
}

@media (max-width: 768px) {
  .main {
    padding-inline: 3rem;
  }
}

@media (max-width: 576px) {
  .main {
    padding-inline: 1.5rem;
    padding-block: 1rem;
  }
}
