.main {
  width: 100%;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h2 {
  margin-bottom: 3rem;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid var(--third-color);
  font-size: 1.7rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  max-width: calc(1900px - 20rem);
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #fff;
  max-width: 300px;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h4 {
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--third-color);
}

.card p {
  font-size: 1.1rem;
}

.card a {
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  width: 100%;
  background-color: var(--third-color);
  color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
  display: inline;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 576px) {
  .card a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background-color: var(--fourth-color);
    transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
    z-index: -1; /* Place the pseudo-element behind the content */
  }

  .card a:hover::after {
    left: 0;
    right: 0;
  }

  .card a:hover {
    color: white !important; /* Change text color if needed when hovered */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Optional: Enhance the box shadow effect */
    scale: 1.03;
  }
}

@media (min-width: 2000px) {
  .container h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 1199px) {
  .main {
    padding-inline: 6rem;
  }
}

@media (max-width: 992px) {
  .main {
    padding-inline: 4rem;
  }
}

@media (max-width: 768px) {
  .main {
    padding-inline: 3rem;
  }
}

@media (max-width: 576px) {
  .main {
    padding-inline: 1.5rem;
    padding-block: 1rem;
  }
}
