@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00bfff;
  --secondary-color: #318ce7;
  --third-color: #1e90ff;
  --fourth-color: #0e6aff;
  --dark-blue-color: #003262;
  --font-vazirmatn: "Vazirmatn", sans-serif; /* Fallback to sans-serif */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-vazirmatn);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #000;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.glass-card {
  @apply bg-white/20 backdrop-blur-md border border-white/30 p-6 rounded-2xl shadow-lg;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    background 0.3s ease-in-out;
}

.glass-card:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  mix-blend-mode: overlay;
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.glass-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.3);
}

.glass-card:hover:before {
  opacity: 0.9;
}

.glass-card:hover h3,
.glass-card:hover span,
.glass-card:hover a {
  transition: color 0.3s ease-in-out;
}

.input-field {
  @apply border border-gray-300 rounded-md px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900;
}

.textarea-field {
  @apply border border-gray-300 rounded-md px-4 py-2 w-full h-24 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900 resize-none;
}

.file-input {
  @apply border border-gray-300 rounded-md px-4 py-2 w-full text-gray-900 file:cursor-pointer file:bg-blue-500 file:text-white file:rounded-md file:px-4 file:py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

/* TipTap In-Editor styles */

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6,
.tiptap p {
  @apply selection:bg-blue-500/30;
}

.tiptap {
  h1 {
    @apply text-4xl font-bold mb-4;
  }
  h2 {
    @apply text-3xl font-bold mb-4;
  }
  h3 {
    @apply text-2xl font-bold mb-4;
  }
  h4 {
    @apply text-xl font-bold mb-4;
  }
  h5 {
    @apply text-lg font-bold mb-4;
  }
  h6 {
    @apply font-bold mb-4;
  }

  ul,
  ol {
    @apply pl-6 mb-4;
    li {
      @apply mb-2;
    }
  }

  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }

  code {
    @apply bg-gray-700 px-2 py-1 rounded font-mono text-sm;
  }

  pre {
    @apply bg-gray-700 p-4 rounded my-4 overflow-x-auto;
    code {
      @apply bg-transparent p-0;
    }
  }
}
